PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6-sip==13.10.0
PyQt6-QtMultimedia==6.8.1
PyQt6-QtMultimediaWidgets==6.8.1
PyQt6-QtWebEngine==6.8.1
PyQt6-QtWebEngineCore==6.8.1
PyQt6-QtWebEngineWidgets==6.8.1
PyQt6-QtPrintSupport==6.8.1
cryptography==44.0.1
Pillow==11.1.0
qrcode==7.4.2
mutagen==1.47.0
